{% include 'pagerMacros.html' %}
{# use renderBlogPosts to show all items as full posts on a page #}

{% macro renderBlogPosts(items, pageUrl) %}
  {% if items %}
    {% for item in items %}
      {{ renderBlogPost(item, pageUrl) }}
    {% endfor %}
  {% else %}
    <h4>There are no blog posts yet.</h4>
  {% endif %}
{% endmacro %}

{%- macro itemUrl(pageUrl, item) -%}
  {{ pageUrl | build([ 'year', 'month', 'day', 'slug' ], { year: item.publishedAt | date('YYYY'), month: item.publishedAt | date('MM'), day: item.publishedAt | date('DD'), slug: item.slug }) }}
{%- endmacro -%}

{% macro renderBlogPost(item, pageUrl) %}
  <div class="apos-blog-post">
    <div class="apos-blog-post-heading">
      <h4><a href="{{ itemUrl(pageUrl, item) }}">{{ item.title | e }}</a></h4>
      <div class="blog-title-divider"></div>
      <h6>{{ item.publishedAt | date("MMM DD, YYYY") }}</h6>
    </div>
    <div class="apos-blog-post-body">{{ aposArea({ area: item.areas.body }) }}</div>
    {% if item.tags %}
      <div class="apos-blog-tags">
        File under: {{ item.tags|join(', ') }}
      </div>
    {% endif %}
{% endmacro %}

{# ...or use renderBlogPostPreviews to show previews of all items on a page (date and title) #}

{% macro renderBlogPostPreviews(items, pageUrl) %}
  {% if items %}
    {% for item in items %}
      {{ renderBlogPostPreview(item, pageUrl) }}
    {% endfor %}
  {% else %}
    <h4>There are no blog posts yet.</h4>
  {% endif %}
{% endmacro %}

{% macro renderBlogPostPreview(item, pageUrl) %}
  <div class="apos-blog-post-preview">
    <div class="apos-blog-post">
      <div class="apos-blog-date">
       <h4><a href="{{ itemUrl(pageUrl, item) }}">{{ item.publishedAt | date("MMM") }}</a></h4>
        <h3><a href="{{ itemUrl(pageUrl, item) }}">{{ item.publishedAt | date("DD") }}</a></h4>
      </div>
      <div class="apos-blog-title">
        <h4><a href="{{ itemUrl(pageUrl, item) }}">{{ item.title | e }}</a></h4>
      </div>
      {# TODO: add byline once the author field is worked out in A2 #}
    </div>
  </div>
{% endmacro %}
