{% if edit %}
<!-- <div class="apos-admin-bar-item apos-page-bar">
  <a data-slug="{{ page.slug | e }}" href="#" class="apos-control apos-button apos-new-page" data-new-page>New Page</a>
  <a data-slug="{{ page.slug | e }}" href="#" class="apos-control apos-button apos-edit-page" data-edit-page>Page Settings</a>
  <a data-slug="{{ page.slug | e }}" href="#" class="apos-control apos-button apos-delete-page" data-delete-page>Delete Page</a>
</div> -->

<ul class="apos-admin-bar-item apos-accordion-menu">
  <li class="apos-accordion-title"><i class="icon-doc"></i>Blog</li>
  <li class="apos-accordion-items">
    <ul class="apos-page-bar">
      <li data-slug="{{ page.slug | e }}" href="#" class="apos-control apos-accordion-item apos-button apos-new-post-button" data-new-post>New Post</li>
      <li data-slug="{{ page.slug | e }}" href="#" class="apos-control apos-accordion-item apos-button apos-edit-posts-button" data-edit-posts>Edit Posts</li>
    </ul>
  </li>
</ul>

<script type="text/javascript">
aposBlog.enableUI({{ {} | json }});
</script>
{% endif %}
