{% extends "layout.html" %}

{% include "blogMacros.html" %}

{% block bodyClass %}{{ super() }} apos-blog-page{% endblock %}

{# Output the current content of the page, with buttons to edit it #}

{% block mainContent %}

  <div class="column">

    {% if page.children.length %}
      <div class="column-element">

        {% block subnav %}
          <div class="subnavigation">
            <h4>Subpages</h4>
            <p>Blog posts have tags, and that means you can create a blog subpage that only shows a certain set of tags. Try it out!</p>
            <ol class="children">
            {% for relative in page.children %}
              <li><a href="{{ relative.url }}">{{ relative.title | e }}</a></li>
            {% endfor %}
            </ol>
          </div>
        {% endblock %}

      </div>
    {% endif %}

    <div class="column-element apos-area-sidebar">
      {{ aposArea({ slug: slug + ":sidebar", area: page.areas.sidebar, edit: edit }) }}
    </div>

  </div>

  <div class="column-2">
    <div class="apos-blog-posts">
      {{ renderBlogPostPreviews(items, page.url) }}
    </div>
  </div>

  {# TODO: set up a here() macro like we have in DR to implement #}
  {# combinations of filters once we have them #}

  <div class="full-width-column">
    {{ renderPager(pager, page.url) }}
  </div>

  {# Just uncomment this script block to enable infinite scroll instead! #}

  {#
  <script type="text/javascript">
    $(function() {
      $('.apos-refreshable .apos-blog-posts').bottomless({
        source: {{ page.url | json }}
      });
      // We don't need the pager if we can infinite scroll
      // However we hide it with JavaScript so that
      // Google still finds it otherwise we have serious SEO issues!
      $('.apos-refreshable .apos-pager').hide();
    });
  </script>
  #}

{% endblock %}
