{% if edit %}

<ul class="apos-admin-bar-item apos-accordion-menu">
  <li class="apos-accordion-title"><i class="icon-doc"></i>Articles</li>
  <li class="apos-accordion-items">
    <ul class="apos-page-bar">
      <li href="#" class="apos-control apos-accordion-item apos-button apos-new-button apos-new-snippet-button" data-new-blog-post>New Article</li>
      <li href="#" class="apos-control apos-accordion-item apos-button apos-manage-button apos-manage-blog-post-button" data-manage-blog-post>Manage Articles</li>
    </ul>
  </li>
</ul>

{% endif %}
