{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template {% block class %}apos-new-blog-post{% endblock %}">
  <h3>{% block label %}New Article{% endblock %}</h3>
  <div class="apos-modal-body">
    <form>
      {{ snippetText('title', 'Title') }}
      {# Slugs become editable later, allow the edit template to add them here #}
      {% block slug %}{% endblock %}
      {{ snippetText('tags', 'Tags (comma-separated)') }}
      {{ snippetArea('body', 'Body') }}
    </form>
  </div>
  <div class="apos-modal-footer">
    <a href="#" data-action="save" class="apos-control apos-button apos-save">Save</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
</div>
