{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template {% block class %}apos-new-blog-post{% endblock %}">
  <h3>{% block label %}New Article{% endblock %}</h3>
  <div class="apos-modal-body">
    <form>
      {{ snippetText('title', 'Title') }}
      {# Slugs become editable later, allow the edit template to add them here #}
      {% block slug %}{% endblock %}
      {{ snippetText('tags', 'Tags (comma-separated)') }}
      {{ snippetArea('body', 'Body') }}
    </form>
  </div>
  {% block buttons %}
  {{ snippetNewButtons() }}
  {% endblock %}
</div>
