{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}

{% block widgetVars %}
  {% set widgetClass = 'apos-blog-widget-editor' %}
{% endblock %}

{% block title %}
  Display Articles
{% endblock %}

{% block instructions %}
Start typing the title of an article, then click on the suggestions that appear to insert them.
Or just use tags to pull in articles.
{% endblock %}

{% block formBody %}

<fieldset class="apos-fieldset apos-fieldset-radio">
  <label>By Tag</label><input type="radio" name="by" value="tag" />
</fieldset>

{{ formTags('tags', 'Tags') }}
{{ formText('limit', 'Articles Shown') }}

<hr class="apos-hr" />

<fieldset class="apos-fieldset apos-fieldset-radio">
  <label>By Title</label>
  <input type="radio" name="by" value="id" />
</fieldset>

{{ formSelective('ids', 'Titles') }}

{% endblock %}

